<library path="src">
  <class name="TraadreVizPlugin" 
type="rqt_traadre_viz.data_viz_plugin.DataVizPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
    Experimenter data visualization for the TRAADRE project
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Traadre Viz</label>
      <icon type="theme">video-display</icon>
      <statustip>Traadre Data Viz</statustip>
    </qtgui>
  </class>
</library>
